.Rproj.user
.Rhistory

Data/myG_LDP.csv

GWAS_Results/
GWAS_Results_DTF/
GWAS_Results_DTF_REP/

extra.R
Extra/

gwas_script.R
gwas_script2.R

Additional/
Lentil Quality/
Literature/
Markers/
MAS Markers/
